 .scroll-bar::-webkit-scrollbar {
     width: 12px;
 }
 
 .scroll-bar::-webkit-scrollbar-track {
     background-color: #0000001a; 
     border-radius: 0px;
     
 }
 
 .scroll-bar::-webkit-scrollbar-thumb {
     border-radius: 0px;
     background-color: #9f3636; 
 }

 .scroll-bar::-webkit-scrollbar-thumb:hover {
     background-color: #4f0202;
 }